/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
    #header-text {
        font-size: 20px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
    #header-text {
        font-size: 20px  !important;
    }
    #addBut {
        position: inherit;
        width: 20%;
        min-width: 20%;
        top: -26px;
    }
    /*.col-11{*/
    /*    max-width: 40.666667% !important;*/
    /*}*/
    /*.col-lg{*/
    /*    width: 50%;*/
    /*}*/
    #circle-bluetooth-image{
        width: 40% !important;
        min-width: 40% !important;
    }
    .rz-image{
        width: 20% !important;
        min-width: 20% !important;
    }

    #jumbo-screen {
        width: 40% !important;
        min-width: 40% !important;
        height: 100% !important;
        top: 30px;
    }
    .background-rectangle {
        height:100% !important;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
